client_run
server_run

CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

.vscode
*a

baseline_test_run
R'ChatLogs.txt

admin_run

user_run
*.a
.vscode
lib
client_shut_off_test
server_shut_off_test
R'ChatLogs.txt
chatlogging_test
server_shut_off_test
users.txt
auth_test
broadcast_test
skeleton_test
command_test